.first .rectangle-180 {
  filter: blur(2px);
  background: #FFFFFF;
  position: absolute;
  top: 61px;
  right: -27px;
  width: 1307px;
  height: 92px;
}
.first .contact-us {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.first .frame-2 {
  border-radius: 4px;
  background: var(--cta-2, #1C3988);
  display: flex;
  padding: 13px 0;
  width: 134px;
  height: fit-content;
  box-sizing: border-box;
}
.first .button {
  border-radius: 4px;
  margin: 0 0 86px 1269px;
  display: flex;
  width: 134px;
  box-sizing: border-box;
}
.first .welcome-to-the-ikigai-city {
  overflow-wrap: break-word;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.348;
  color: var(--dark-blue, #091638);
}
.first .group-243 {
  margin-bottom: 65px;
  display: flex;
  box-sizing: border-box;
}
.first .renowned-upcoming-real-estate-developer-in-the-western-sector-of-hyderabad-anuktha-avenues {
  margin: 0 41.8px;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.425;
  color: var(--dark-blue, #091638);
}
.first .container-5 {
  margin: 0.5px 24.6px 44.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.first .image-1 {
  box-shadow: var(--m-3-elevation-dark-3, 0px 4px 8px 3px rgba(0, 0, 0, 0.15)), var(--m-3-elevation-dark-3, 0px 1px 3px 0px rgba(0, 0, 0, 0.3));
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  width: 576px;
  height: 384px;
}
.first .container-9 {
  margin: 0 0 156.6px 349px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.first .whats-app-image-20240903-at-125611-pm-1 {
  box-shadow: var(--m-3-elevation-dark-3, 0px 4px 8px 3px rgba(0, 0, 0, 0.15)), var(--m-3-elevation-dark-3, 0px 1px 3px 0px rgba(0, 0, 0, 0.3));
  background: url('../assets/images/whats_app_image_20240903_at_125611_pm_1.jpeg') 50% / contain no-repeat;
  margin: 11.4px 41px 0 0;
  width: 556px;
  height: 357px;
}
.first .about-us {
  overflow-wrap: break-word;
  font-family: var(--ddark-h-2-font-family, 'Merriweather');
  font-weight: var(--ddark-h-2-font-weight, 700);
  font-size: var(--ddark-h-2-font-size, 51.9px);
  line-height: var(--ddark-h-2-line-height, 1.33);
  color: var(--dark-blue, #091638);
}
.first .frame {
  margin-bottom: 24.4px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.first .anuktha-avenues-is-areal-estate-developer-co-who-is-already-executed-few-projects-and-highly-appreciated-by-the-buyers-ateam-of-professionals-are-in-the-top-management-positions-and-with-agoal-to-excellence-in-whatever-projects-are-taken-up-customer-sustainable-satisfaction-being-the-core-vision-all-our-upcoming-residential-projects-are-getting-rated-igbc-platinum-certification-with-afocus-on-the-zen-bird-homes-concept-the-corporate-office-is-situated-in-kajaguda-hyderabad {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.275;
  color: #000000;
}
.first .frame-182 {
  position: relative;
  margin-left: 1px;
  width: 403px;
  height: 394px;
}
.first .container {
  margin-bottom: 41px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.first .container-4 {
  margin: 0 0 162px 329px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.first .our-services {
  position: absolute;
  top: -108.5px;
  right: 212.8px;
  overflow-wrap: break-word;
  font-family: var(--ddark-h-2-font-family, 'Merriweather');
  font-weight: var(--ddark-h-2-font-weight, 700);
  font-size: var(--ddark-h-2-font-size, 51.9px);
  line-height: var(--ddark-h-2-line-height, 1.33);
  color: var(--dark-blue, #091638);
}
.first .rectangle-151 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/rectangle_151.png') 50% / contain no-repeat;
  width: 45px;
  height: 35px;
}
.first .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  padding: 29px 12px 30px 0;
  width: 137px;
  height: 94px;
  box-sizing: border-box;
}
.first .rectangle-152 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/rectangle_152.png') 50% / contain no-repeat;
  width: 44px;
  height: 35px;
}
.first .container-10 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background: #D9D9D9;
  position: relative;
  margin-top: 2px;
  display: flex;
  padding: 30px 0 30px 6px;
  width: 136px;
  height: 95px;
  box-sizing: border-box;
}
.first .rectangle-153 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/rectangle_153.png') 50% / contain no-repeat;
  width: 59px;
  height: 32px;
}
.first .container-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background: #D9D9D9;
  position: relative;
  margin-top: 2px;
  display: flex;
  padding: 30px 1px 33px 0;
  width: 136px;
  height: 95px;
  box-sizing: border-box;
}
.first .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 831px;
  height: fit-content;
  box-sizing: border-box;
}
.first .frame-183 {
  position: relative;
  margin: 0 0 1px 324px;
  display: flex;
  width: 999px;
  box-sizing: border-box;
}
.first .residential-commercial-sales {
  margin: 0 373px 113.3px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.625;
  color: #000000;
}
.first .image {
  box-shadow: var(--drop-shadow-100, 0px 1px 4px 0px rgba(12, 12, 13, 0.05));
  border: 1px solid #DFD893;
  background: url('../assets/images/image.png');
  margin: 0 129px 218.7px 129px;
  align-self: flex-end;
  width: 1280px;
  height: 439px;
}
.first .rectangle-181 {
  background: #12026B;
  margin-bottom: 521px;
  align-self: flex-start;
  width: 1400px;
  height: 114px;
}
.first .untitled-design-1 {
  background: url('../assets/images/untitled_design.png') 50% / cover no-repeat;
  margin: 0 0 8px 33.2px;
  width: 166px;
  height: 105px;
}
.first .we-are-the-company-that-the-people-with-sustainable-living-anuktha-is-having-more-then-10-years-existence-in-realestate-market-and-have-successfully-completed-good-number-of-work-in-collabration-with-sukhi-developers {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 2.138;
  color: var(--dark-blue, #091638);
}
.first .rectangle-163 {
  background: url('../assets/images/rectangle_163.png') 50% / contain no-repeat;
  margin-top: 50px;
  width: 39px;
  height: 38px;
}
.first .contact {
  position: relative;
  margin-bottom: 36px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #12026B;
}
.first .container-3 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 583.1px;
  box-sizing: border-box;
}
.first .rectangle-160 {
  background: url('../assets/images/rectangle_160.png') 50% / cover no-repeat;
  margin-right: 335.8px;
  width: 31px;
  height: 25px;
}
.first .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.first .inkube-business-center-5-th-floor-oak-plaza-khajaguda-main-road-httpsg-cokgsh-4-xw-zzv {
  position: absolute;
  left: 275px;
  bottom: 53.5px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 2.6;
  color: #000000;
}
.inkube-business-center-5-th-floor-oak-plaza-khajaguda-main-road-httpsg-cokgsh-4-xw-zzv {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.first .container {
  position: absolute;
  left: 549.7px;
  bottom: 9px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 2.6;
  color: #000000;
}
.first .frame-185 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  align-self: flex-end;
  padding: 18px 83.2px 23px 0;
  width: 1416px;
  box-sizing: border-box;
}
.first .anuktha-avenues {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.first .container-1 {
  background: #12026B;
  position: relative;
  margin: 0 33px;
  display: flex;
  align-self: flex-end;
  padding: 27px 24px 35px 0;
  width: 1400px;
  box-sizing: border-box;
}
.first .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1861px;
  height: fit-content;
  box-sizing: border-box;
}
.first .property-management {
  position: absolute;
  top: 1380px;
  right: 541.5px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.625;
  color: #000000;
}
.first .channel-partner-aggregator {
  position: absolute;
  top: 1380px;
  right: 174.3px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.625;
  color: #000000;
}
.first .channel-partner {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.first .frame-21 {
  border-radius: 4px;
  background: var(--cta-2, #1C3988);
  display: flex;
  padding: 13px 0;
  width: 192px;
  height: fit-content;
  box-sizing: border-box;
}
.first .button-1 {
  border-radius: 4px;
  position: absolute;
  top: 83px;
  right: 295px;
  display: flex;
  width: 192px;
  box-sizing: border-box;
}
.first .about-us-1 {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.first .frame-22 {
  border-radius: 4px;
  background: var(--cta-2, #1C3988);
  display: flex;
  padding: 13px 0;
  width: 134px;
  height: fit-content;
  box-sizing: border-box;
}
.first .button-2 {
  border-radius: 4px;
  position: absolute;
  top: 83px;
  right: 534px;
  display: flex;
  width: 134px;
  box-sizing: border-box;
}
.first .image-2 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  position: absolute;
  left: -276px;
  bottom: 642px;
  width: 1571px;
  height: 564px;
}
.first .untitled-design {
  background: url('../assets/images/untitled_design.png') 50% / cover no-repeat;
  position: absolute;
  left: 81px;
  top: 60px;
  width: 143px;
  height: 93px;
}
.first {
  background: #DFD893;
  display: flex;
  padding-top: 83px;
  width: 1280px;
  box-sizing: border-box;
}
