.third .untitled-design {
  background: url('../assets/images/untitled_design.png') 50% / cover no-repeat;
  margin: 0 86px 57px 0;
  width: 142px;
  height: 122px;
}
.third .channel-partner {
  margin: 0 113.6px 69.9px 0;
  width: 422.4px;
  height: 43.1px;
}
.third .registration {
  margin: 0 84px 47.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .we-are-very-glad-to-inform-about-our-forthcoming-premium-residential-project-ikigai-city-at-kollur-next-to-the-orr-exit-no-2-the-project-is-of-3500-residential-apartments-in-20-acres-with-10-towers-and-g-39-floors-with-80-open-space-ikigai-city-is-equipped-with-most-innovative-sustainable-and-eco-friendly-strategies-new-in-hyderabad-real-estate-with-the-aim-of-igbc-platinum-certification-and-more-than-100-various-facilities-and-amenities-around-as-we-are-in-the-process-of-registering-our-channel-business-associates-we-will-be-delighted-to-have-you-on-board-by-this-registration-process {
  margin: 0 123px 65.5px 123px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.third .ref-no {
  margin: 0 700px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .name {
  margin: 0 719px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-187 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 5px 0;
  width: 777px;
  height: 38px;
}
.third .mobile-no {
  margin: 0 657px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-188 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 3.5px 0;
  width: 777px;
  height: 39px;
}
.third .email-id {
  margin: 0 700px 3.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-189 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 3px 0;
  width: 777px;
  height: 40px;
}
.third .co-name-and-gst-no {
  margin: 0 501px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-190 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 5px 0;
  width: 777px;
  height: 39px;
}
.third .address {
  margin: 0 700px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-191 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 12px 0;
  width: 777px;
  height: 37px;
}
.third .rera-registered {
  margin: 0 563px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .projects-handling-at-present {
  margin: 0 364px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-193 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 4px 0;
  width: 777px;
  height: 39px;
}
.third .no-of-sales-being-closed-in-amonth {
  margin: 0 258px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-194 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 4px 0;
  width: 777px;
  height: 40px;
}
.third .average-turnover-for-amonth {
  margin: 0 340px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.third .rectangle-195 {
  border-radius: 20px;
  background: #FFFFFF;
  margin: 0 31px 45px 0;
  width: 777px;
  height: 40px;
}
.third .continue {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.third .frame-2 {
  border-radius: 4px;
  background: var(--cta-2, #1C3988);
  display: flex;
  padding: 13px 0;
  width: 134px;
  height: fit-content;
  box-sizing: border-box;
}
.third .button {
  border-radius: 4px;
  margin: 0 78px 173px 0;
  display: flex;
  width: 134px;
  box-sizing: border-box;
}
.third .container {
  position: absolute;
  left: 577.7px;
  bottom: -2px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 2.6;
  color: #000000;
}
.third .untitled-design-1 {
  background: url('../assets/images/untitled_design.png');
  margin: 0 0 8px 65.2px;
  width: 166px;
  height: 105px;
}
.third .we-are-the-company-that-the-people-with-sustainable-living-anuktha-is-having-more-then-10-years-existence-in-realestate-market-and-have-successfully-completed-good-number-of-work-in-collabration-with-sukhi-developers {
  margin-bottom: 52.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 2.138;
  color: var(--dark-blue, #091638);
}
.third .rectangle-163 {
  background: url('../assets/images/rectangle_163.png') 50% / contain no-repeat;
  margin: 6.5px 38px 7.5px 0;
  width: 39px;
  height: 38px;
}
.inkube-business-center-5-th-floor-oak-plaza-khajaguda-main-road-httpsg-cokgsh-4-xw-zzv {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.third .inkube-business-center-5-th-floor-oak-plaza-khajaguda-main-road-httpsg-cokgsh-4-xw-zzv {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 2.6;
  color: #000000;
}
.third .container-3 {
  margin: 0 11.8px 4.5px 33px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.third .rectangle-160 {
  background: url('../assets/images/rectangle_160.png') 50% / cover no-repeat;
  margin-right: 245.8px;
  width: 31px;
  height: 25px;
}
.third .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.third .contact {
  position: absolute;
  left: 626.9px;
  bottom: 103px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #12026B;
}
.third .frame-185 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  padding: 24px 87.2px 17px 0;
  width: 1416px;
  box-sizing: border-box;
}
.third .anuktha-avenues {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}
.third .container-2 {
  background: #12026B;
  position: relative;
  margin-right: 16px;
  display: flex;
  padding: 27px 24px 35px 0;
  width: 1400px;
  box-sizing: border-box;
}
.third .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1416px;
  height: fit-content;
  box-sizing: border-box;
}
.third .rectangle-186 {
  border-radius: 20px;
  background: #FFFFFF;
  position: absolute;
  top: 704px;
  right: 224px;
  width: 777px;
  height: 38px;
}
.third .rectangle-192 {
  border-radius: 20px;
  background: #FFFFFF;
  position: absolute;
  right: 224px;
  bottom: 1005px;
  width: 777px;
  height: 39px;
}
.third {
  background: #DFD893;
  display: flex;
  padding-top: 103px;
  width: 1280px;
  box-sizing: border-box;
}
